<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/image/favicon.png" rel="icon" />
    <title>Eticaret ödev</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet-skin3.css" />
    <link href='fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- CSS Part End-->
</head>
<body>
    <div class="wrapper-wide">
        <div id="header">
            <!-- Top Bar Start-->
            <nav id="top" class="htop">
                <div class="container">
                    <div class="row">
                        <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
                        <div class="pull-left flip left-top">
                            <div class="links">
                                <ul>
                                    <li class="mobile"><i class="fa fa-phone"></i>Telefon Numarası</li>
                                    <li class="email"><a href="mailto:info@eticaret.com<"><i class="fa fa-envelope"></i>Mail Adressi</a></li>
                                    @try
                                    {
                                        <li class="mobile"><i class="fa fa-phone"></i>@Session["deger"].ToString()</li>

                                        

                                    }
                                    catch
                                    {


                                    }
                                                                
                                   

                                </ul>
                            </div>


                        </div>
                        <div id="top-links" class="nav pull-right flip">
                            <ul>
                                <li><a href="/Giris/">Giriş</a></li>
                                <li><a href="/UyeOl/">Üye Ol</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Top Bar End-->
            <!-- Header Start-->
            <header class="header-row">
                <div class="container">
                    <div class="table-container">
                        <!-- Logo Start -->
                        <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                            <div id="logo"><a href="//"><img class="img-responsive" src="/image/logo.png" title="ÖdevEticaret" alt="ÖdevEticaret" /></a></div>
                        </div>
                        <!-- Logo End -->
                        <!-- Search Start-->
                        <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                            <div id="search" class="input-group">
                                <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <!-- Search End-->
                        <!-- Mini Cart Start-->
                        <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                            <div id="cart">
                                <ul class="dropdown-menu">
                                    <li>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><a href="/product.html"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="/image/product/sony_vaio_1-50x50.jpg"></a></td>
                                                    <td class="text-left"><a href="/product.html">Xitefun Causal Wear Fancy Shoes</a></td>
                                                    <td class="text-right">x 1</td>
                                                    <td class="text-right">$902.00</td>
                                                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onclick="" type="button"><i class="fa fa-times"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><a href="/product.html"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="/image/product/samsung_tab_1-50x50.jpg"></a></td>
                                                    <td class="text-left"><a href="/product.html">Aspire Ultrabook Laptop</a></td>
                                                    <td class="text-right">x 1</td>
                                                    <td class="text-right">$230.00</td>
                                                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onclick="" type="button"><i class="fa fa-times"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- Mini Cart End-->
                    </div>
                </div>
            </header>
            <!-- Header End-->
            <!-- Main Menu Start-->
            @{Html.RenderAction("Kategoriler", "Home");};
            
        </div>
            <!-- Main Menu End-->
        <div id="container">
            <div class="container">
                <div class="row">
                    <!--Middle Part Start-->
                    @RenderBody()
                    <!--Middle Part End-->
                </div>
            </div>
        </div>
        <!-- Feature Box Start-->
        <div class="container">
            <div class="custom-feature-box row">
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box fbox_1">
                        <div class="title">Ucuz Alişveriş</div>
                        <p>Her Ay farkli Kampanyalar</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box fbox_3">
                        <div class="title">Havale ile ödeme</div>
                        <p>Havale ile Güvenli Alişveriş</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="feature-box fbox_4">
                        <div class="title">Müşteri Temelli Satışlar</div>
                        <p>Siz Müşterilerimize Mükemmel Hizmet</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Box End-->
        <!--Footer Start-->
        <footer id="footer">
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h5>Contact Details</h5>
                            <ul>
                                <li class="address"><i class="fa fa-map-marker"></i>Adress</li>
                                <li class="mobile"><i class="fa fa-phone"></i>Telefon Numarası</li>
                                <li class="email"><i class="fa fa-envelope"></i>Send email via our <a href="//iletisim/">İletişim</a>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="/about-us.html">Hakkımızda</a></li>
                                <li><a href="/about-us.html">Delivery Information</a></li>
                                <li><a href="/about-us.html">Privacy Policy</a></li>
                                <li><a href="/about-us.html">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Customer Service</h5>
                            <ul>
                                <li><a href="//iletisim/">İletişim</a></li>
                                <li><a href="/#">Returns</a></li>
                                <li><a href="/sitemap.html">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Extras</h5>
                            <ul>
                                <li><a href="/#">Brands</a></li>
                                <li><a href="/#">Gift Vouchers</a></li>
                                <li><a href="/#">Affiliates</a></li>
                                <li><a href="/#">İndirimli Urunler</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>My Account</h5>
                            <ul>
                                <li><a href="/#">Hesabim</a></li>
                                <li><a href="/#">Order History</a></li>
                                <li><a href="/#">Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fpart-second">
                <div class="container">
                    <div id="powered" class="clearfix">
                        <div class="powered_text pull-left flip">
                            <p>Eticaret Ödevi © 2016 | Coded  By <a href="/" target="_blank">Mert Yalcın Cirit</a></p>
                        </div>
                        <div class="social pull-right flip"> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>
                    </div>
                    <div class="bottom-row">
                        <div class="custom-text text-center">
                            <img alt="" src="/image/logo-small.png">
                            <p>This is a CMS block. You can insert any content (HTML, Text, Images) Here. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="payments_types"> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_american.png" alt="american-express" title="American Express"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_discover.png" alt="discover" title="Discover"></a> <a href="/#" target="_blank"> <img data-toggle="tooltip" src="/image/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a> </div>
                    </div>
                </div>
            </div>
            <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="/javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
        </footer>
        <!--Footer End-->
        <!-- Facebook Side Block Start -->
        <div id="facebook" class="fb-left sort-order-1">
            <div class="facebook_icon"><i class="fa fa-facebook"></i></div>
            <div class="fb-page" data-href="/https://www.facebook.com/harnishdesign/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/harnishdesign/"><a href="/https://www.facebook.com/harnishdesign/">Harnish Design</a></blockquote>
                </div>
            </div>
            <div id="fb-root"></div>
            <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        </div>
        <!-- Facebook Side Block End -->
        <!-- Twitter Side Block Start -->
        <div id="twitter_footer" class="twit-left sort-order-2">
            <div class="twitter_icon"><i class="fa fa-twitter"></i></div>
            <a class="twitter-timeline" href="/https://twitter.com/" data-chrome="nofooter noscrollbar transparent" data-theme="light" data-tweet-limit="2" data-related="twitterapi,twitter" data-aria-polite="assertive" data-widget-id="347621595801608192">Tweets by </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <!-- Twitter Side Block End -->
        <!-- Video Side Block Start -->
        <div id="video_box" class="vb-right sort-order-1">
            <div id="video_box_icon"><i class="fa fa-play"></i></div>
            <p>
                <iframe allowfullscreen="" src="///www.youtube.com/embed/SZEflIVnhH8" height="315" width="560"></iframe>
            </p>
        </div>
        <!-- Video Side Block End -->
        <!-- Custom Side Block Start -->
        <div id="custom_side_block" class="custom_side_block_right sort-order-2">
            <div class="custom_side_block_icon"> <i class="fa fa-chevron-right"></i> </div>
            <table>
                <tbody>
                    <tr>
                        <td><h2>CMS Blocks</h2></td>
                    </tr>
                    <tr>
                        <td><img alt="" src="/image/banner/cms-block.jpg"></td>
                    </tr>
                    <tr>
                        <td>You can add any HTML content to this block or turn it off in Theme Admin panel!</td>
                    </tr>
                    <tr>
                        <td><strong><a href="/#">Read More</a></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Custom Side Block End -->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- JS Part End-->
</body>
</html>