@model IEnumerable<Eticaret.Models.Urunler>



<h3 class="subtitle">En Çok Satılanlar</h3>
<div class="owl-carousel product_carousel">
        @foreach (var item in Model)
        {    <div class="product-thumb clearfix">

            <div class="image"><a href="//Detay/Index/@item.id"><img src="/@item.kUrunResim" alt="@item.UrunAdi" title="@item.UrunAdi" class="img-responsive" /></a></div>
            <div class="caption">
                <h4><a href="//Detay/Index/@item.id">@item.UrunAdi</a></h4>
                <p class="price"> $@item.UrunFiyati </p>
            </div>
            <div class="button-group">
                <button class="btn-primary" type="button" onclick=""><span>Satin al</span></button>

            </div>
        </div>
        }

        





</div>
<!-- Featured Product End-->
