@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

@model IEnumerable<Eticaret.Models.Urunler>


<div id="content" class="col-xs-12">
    <div class="row"> 
    
       @{Html.RenderAction("Slider");}
      
    </div>
    <!-- Bestsellers Product Start-->
   @{Html.RenderAction("BestSeller");}
    <!-- Banner Start-->
    @{Html.RenderAction("YeniUrunler");}


    <!-- Banner End-->
    <!-- Categories Product Slider Start-->
    
    <!-- Categories Product Slider End-->
    <!-- Categories Product Slider Start -->
    
    <!-- Categories Product Slider End -->
    <!-- Banner Start -->
    
    <!-- Banner End -->
    <!-- Brand Logo Carousel Start-->
    
    <!-- Brand Logo Carousel End -->
</div>