@model IEnumerable<Eticaret.Models.Urunler>
<div class="marketshop-banner">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img title="Sample Banner 2" alt="Sample Banner 2" src="@item.UrunResimYol"></a></div>

        }
    </div>
</div>